<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <!-- todo carousel module start-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                <li data-target="#myCarousel" data-slide-to="4" class=""></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/images/about/groups/awana/1.jpg" >
                </div>
                <div class="item">
                  <img src="/images/about/groups/awana/2.jpg" >
                </div>
                <div class="item">
                  <img src="/images/about/groups/awana/3.jpg" >
                </div>
                <div class="item">
                  <img src="/images/about/groups/awana/4.jpg" >
                </div>
                <div class="item">
                  <img src="/images/about/groups/awana/5.jpg" >
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <!-- todo carousel module end-->
        <h3>ＡＷＡＮＡ兒童主日學：</h3>
        <br>
        <h4>「耶穌說：讓小孩子到我這裡來，不要禁止他們；因為在神國的正是這樣的人。(太19:14)』</h4>
        <p>本主日學以教導年幼至老年者，相信和接受耶穌基督為救主並裝備訓練成為健全的基督徒為宗旨。</p>
        <p>在這裡孩子可以學習交朋友、好習慣、好品格，學習聖經品格、參加團體遊戲、建造團隊精神。</p>
        <p>對象：幼稚園至國中</p>
        <p>內容：聖經信息、詩歌、手冊時間、AWANA遊戲</p>
        <p>時間：週日上午９：３０</p>
        <p>地點：教會５樓兒童活動中心</p>
        <br>

        <h3>ＡＷＡＮＡ事工簡介</h3>
        <h4>ＡＷＡＮＡ源自聖經「你當竭力，在神面前得蒙喜悅，作無愧的工人，按著正意分解真理的道。(提後2:15)」</h4>
        <p>ＡＷＡＮＡ這個字來自<span style="color:red;">A</span>pproved <span style="color:red;">W</span>orkmen <span style="color:red;">A</span>re Not <span  style="color:red;">A</span>shamed（得蒙喜悅作無愧的工人）這幾個英文字的字首。</p>
        <p>目前全世界已有一百多個國家以ＡＷＡＮＡ事工，來為主造就及培訓兒童與青少年。</p>
        <br>
        <h3>埔墘教會ＡＷＡＮＡ事工特色如下</h3>
        <ol>
          <li>在聚會中導師與隊員都穿制服，增進歸屬及合一感。</li>
          <li>透過學習手冊及獎勵制度，激勵隊員，在學習神話語上所下的功夫。</li>
          <li>遊戲時間(Awana Game)每週推陳出新，兼具益智反應及體能運動，也增進孩童們的運動技能及彼此激勵的團隊精神。</li>
        </ol>
      </div>
    </div>
  </div>
</div>


