<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>聖歌隊：</p>
        <p>『普天下當向耶和華歡呼！你們當樂意事奉耶和華，當來向祂歌唱！</p> 
        <p>…當稱謝進入祂的門；當讚美進入祂的院。當感謝祂，稱頌祂的名！』(詩100:1-2,4) </p>
        <p>禮拜中擔任音樂事奉的角色，以詩歌獻唱讚揚神的作為；並帶領會眾敬拜上帝，帶領會眾同唱聖詩、應禱詩及奉獻詩等詩歌。</p>
        <p>對象：願意用歌聲事奉並於主日獻詩的兄姐</p>
        <p>時間：週六晚上７：３０</p>
        <p>地點：教會２樓禮拜堂</p>
      </div>
    </div>
  </div>
</div>


