<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>松年團契：</p>
        <p>『他們年老的時候仍要結果子，要滿了汁漿而常發青（詩篇92：14）』</p>
        <p>本團契以唱詩、靈修、保健活動、保健常識、靈修旅遊、中會活動，</p>
        <p>交誼保健、共同宣揚福音，促進年長兄姐身心靈健康成長。</p>
        <p>對象：凡屬教會之會友或慕道友，不限性別，年滿55歲以上。</p>
        <p>時間：周日下午１點(每月第二週)</p>
        <p>地點：教會Ｂ１多功能活動中心</p>  
      </div>
    </div>
  </div>
</div>


