<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>伉儷團契：</p>
        <p>『又當存敬畏基督的心，彼此順服。你們作妻子的，當順服自己的丈夫，如同順服主。</p>
        <p>....你們作丈夫的，要愛你們的妻子，正如基督愛教會，為教會捨己。(弗5:21-25)』</p>
        <p>本團契以建立會友間的彼此關懷、與友誼及靈命增長，建立合神心意的基督化家庭。</p>
        <p>藉著團契生活，透過彼此分享，互相關懷、堅固信仰、夫妻關係，以至培育子女，同心事奉神，同行人生路。</p>
        <p>對象：凡屬教會已婚夫婦會友或慕道夫婦。</p>
        <p>時間：周日下午１點(每月第四週)</p>
        <p>地點：教會Ｂ１多功能活動中心</p>
      </div>
    </div>
  </div>
</div>


