<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <!-- todo carousel module start-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <!-- <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                <li data-target="#myCarousel" data-slide-to="4" class=""></li> -->
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/images/about/groups/qt/1.jpg" >
                </div>
                <div class="item">
                  <img src="/images/about/groups/qt/2.jpg" >
                </div>
                <div class="item">
                  <img src="/images/about/groups/qt/3.jpg" >
                </div>
                <!-- <div class="item">
                  <img src="/images/about/groups/qt/4.jpg" >
                </div>
                <div class="item">
                  <img src="/images/about/groups/qt/5.jpg" >
                </div>                 -->
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <!-- todo carousel module end-->

        <h3><font color="#65a9dd">QT小組：</font></h3>
        <br>
        <h4><font color="#39B6AE">「操練身體、益處還少，惟獨敬虔、凡事都有益處，因有今生和來生的應許。」(提前四8)</font></h4>
        <p><font color="#000000">信徒藉著「活潑的生命」這本靈修教材，每天培養出QT(Quiet Time)的靈修生活。</font></p>
        <p><font color="#000000">並於主日禮拜結束後有小組時間，共同以此教材彼此分享，目前成人有八個小組，青少年二個小組，孩童一個小組。</font></p>
        <p><font color="#000000">你今天QT了嗎？ QT會很幸福喔！</font></p>
        <p><font color="#000000">對象：所有弟兄姐妹皆可</font></p>
        <p><font color="#000000">時間：週日主日禮拜後</font></p>
        <p><font color="#000000">地點：教會各樓層</font></p>

        <!-- <p>QT幸福小組：</p>
        <p>「操練身體、益處還少，惟獨敬虔、凡事都有益處，因有今生和來生的應許。」(提前四8)</p>
        <p>信徒藉著「活潑的生命」這本靈修教材，每天培養出QT(Quiet Time)的靈修生活。</p>
        <p>並於主日禮拜結束後有小組時間，共同以此教材彼此分享，目前成人有八個小組，青少年二個小組，孩童一個小組。</p>  
        <p>你今天QT了嗎？ QT會很幸福喔！</p>
        <p>對象：所有弟兄姐妹皆可</p>
        <p>時間：週日主日禮拜後</p>  
        <p>地點：教會各樓層</p>   -->
      </div>
    </div>
  </div>
</div>


