<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>女宣團契：</p>
        <p>『我實在告訴你們，普天之下，無論在什麼地方傳這福音，也要述說這女人所行的，作個紀念。(太26:13)』</p>
        <p>本團契以聯絡教會婦女，宣揚基督，增進團契生活，</p>
        <p>培養個人靈性，強化婦女禱告與查經，事奉教會與服務社會為宗旨。</p>
        <p>對象：凡屬教會之女性會友或慕道友。</p>
        <p>時間：周三晚上8點(每月第三週)</p>
        <p>地點：教會Ｂ１多功能活動中心</p>
      </div>
    </div>
  </div>
</div>


