<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>敬拜團：</p>
        <p>『來啊，我們要屈身敬拜，在造我們的耶和華面前跪下。 因為衪是我們的神....』(詩95:6) </p>
        <p>以音樂作服事，配合禮拜事奉，讓神的榮耀在敬拜中彰顯。</p>
        <p>帶領及教導會眾以心靈和真理進入敬拜，並學習以上帝為中心的敬拜，經歷神的臨在及作生命的敬拜。</p>
        <p>時間：周六下午４點(每月第二週)</p>
        <p>地點：教會４樓練團室</p>　　
      </div>
    </div>
  </div>
</div>


