<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>青少年團契：</p>
        <p>『不可叫人小看你年輕，總要在言語、行為、愛心、信心、清潔上，都作信徒的榜樣。』(提前4:12) </p>
        <p>本團契以聖經的話語來教導、建立青少年對自己有健康的價值觀自我的認同和明白生命的意義，</p>
        <p>進而在校園、同儕群體當中帶下正確的影響力，成為社會及國家的祝福。</p>
        <p>對象：國中至高中生、大學生</p>
        <p>時間：週六晚上６點</p>
        <p>地點：教會４樓團契活動中心</p>
      </div>
    </div>
  </div>
</div>


