<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>社青團契：</p>
        <p>『你要保守你心，勝過保守一切，因為一生的果效，是由心發出。(箴4:23)』</p>
        <p>本團契以聯絡教會社會青年，宣揚基督，增進團契生活，培養個人靈性，事奉教會而服務社會為宗旨。</p>
        <p>對象：凡屬教會之會友或慕道友，年滿二十歲以上，四十歲以下。</p>
        <p>時間：周日下午１點(每月第二週)</p>
        <p>地點：教會４樓團契活動中心</p>
      </div>
    </div>
  </div>
</div>


