<div class="col-md-2 sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">異象與使命</a></li>
    <li><a href="/goal">異象與使命</a></li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">年度目標</a></li>
    <li><a href="/goal/ministry">事工目標</a></li>
    <li><a href="/goal/annual">2014事工</a></li>
    <li><a href="/goal/next">2015事工</a></li>
    <li><a href="/goal/midRange">中程目標</a></li>
  </ul>
</div>