<div class="container-fluid main-container">
  <%= render 'goal/leftMenu' %>
  <div class="col-md-10 content">
    <article class="panel panel-default">
      <header class="panel-heading">

      </header>
      <section class="panel-body">
        <h3>2014年度目標：「靈修」一領一，「生命」新倍加。</h3>
        <h4>「但你所學習的，所確信的，要存在心裡；因為你知道是跟誰學的，</h4>
        <h4>並且知道你是從小明白聖經，這聖經能使你因信基督耶穌，有得救的智慧。</h4>
        <h4>聖經都是神所默示的，於教訓、督責、使人歸正、教導人學義都是有益的，</h4>
        <h4>叫屬神的人得以完全，預備行各樣的善事。」(提後三14-17)</h4>
        <p><i class="fa fa-paper-plane"></i>目標</p>
        <p>鼓勵信徒認識聖經和裝備領袖，並每日有固定的靈修生活，</p>
        <p>使屬靈生命得以成長。藉由提高信仰的素質，且著重信心的建立，靈命的塑造和生命的見証。</p>
        <p><i class="fa fa-paper-plane"></i>事工</p>
        <p>1.全教會信徒每日靈修研讀。</p>
        <p>2.主日ＱＴ小組成立。</p>
        <p>3.小家關懷事工。</p>
        <p>4.AWANA兒童事工。</p> 
        <img src="/images/goal/annual.jpg" alt="埔墘長老教會" class="content-img" />
      </section>
    </article>
  </div>
</div>


