<div class="container-fluid main-container">
<%= render 'goal/leftMenu' %>
  <div class="col-md-10 content">
    <article class="panel panel-default">
      <header class="panel-heading">

      </header>
      <section class="panel-body">
      <h4>◎埔墘教會異象：一領一全人成長‧邁向50禧年</h4>
<p>在事工規劃中，以「一領一全人成長‧邁向設教50禧年」為教會異象。</p>
<p>此乃依循總會"一領一新倍加"宣教運動（One-leads-One, Doubling Movement，簡稱「新倍加運動」）的推動，</p>
<p>並依據約翰一書二12-13節信仰生命程度的劃分(小子、少年人、父老(註一）)，</p>
<p>以"一領一策略"及"生命成長五大向度（註二）"的事工推動，</p>
<p>藉以裝備信徒做主的門徒，逐年逐步地建造教會。</p>
<h4>
 ◎埔墘教會使命：
</h4>
<p>以一領一的策略，在板橋區建立一間敬拜上帝、實踐神愛的教會，</p>
<p>並裝備信徒做主的門徒，得以見證福音的大能。</p>
<p>成為不斷學習實踐大使命(太28:19-20)與大誡命(太22:36-40)的有異象、有熱情教會，</p>
<p>完成神向教會所命定的使命。</p>
<blockquote class="small">
<h5>註一：三個靈命程度（小子、少年人、父老）</h5>
<p>(約翰一書二12-13)小子們哪、我寫信給你們、因為你們的罪藉著主名得了赦免。</p>
<p>父老阿、我寫信給你們、因為你們認識那從起初原有的。</p>
<p>少年人哪、我寫信給你們、因為你們勝了那惡者。</p>
<p>小子們哪、我曾寫信給你們、因為你們認識父。</p>
  <ol>
    <li>小子(Children)：是初信主，經過初信栽培後的信徒。</li>
    <li>少年人(Young Men)：是信主日子尚淺，尚在靈裡成長中的信徒。</li>
    <li>父老(Father)：是信主日子較長，和在靈裡已經較成熟的徒。</li>
  </ol>
</p>

<h5>註二：五大成長向度</h5>
  <ol>
    <li>靈命成長</li>
    <li>關懷成長</li>
    <li>禱告成長</li>
    <li>敬拜成長</li>
    <li>佈道成長</li>
  </ol>
</blockquote>
<img src="/images/goal/mission.jpg" alt="埔墘長老教會" class="content-img" />
</section>
    </article>
  </div>
</div>


