<div class="container-fluid main-container">
  <%= render 'goal/leftMenu' %>
  <div class="col-md-10 content">
    <article class="panel panel-default">
      <header class="panel-heading">

      </header>
      <section class="panel-body">
        <ul>
          <li>
            <h4>年度目標：「禱告」一領一，「見證」新倍加。</h4>
            <section>
              <p>「我勸你第一要為萬人懇求，禱告，代求，祝謝。」(提前二1)</p>
              <p>[目標]</p>
              <p>提昇信徒對禱告的認知與實踐，增設重要危急禱告事項的傳遞途徑，增加見証分享的機會，</p>
              <p>以體會禱告之果效。在團契、教會中，藉由操練各種不同禱告方式，彼此學習成為代禱守望者。</p>
            </section>
          </li>
          <br>
          <li><h4>年度目標：「敬拜」一領一，「事奉」新倍加。</h4>
            <section>
              <p>「來啊，我們要屈身敬拜，在造我們的耶和華面前跪下。</p>
              <p>因為衪是我們的神；我們是衪草場的羊，是衪手下的民。惟願你們今天聽衪的話。」(詩95:6-7)</p>
              <p>[目標]</p>
              <p>帶領及教導會眾以心靈和真理進入敬拜(含傳統敬拜)，經歷神的臨在及作生命的敬拜。</p>
              <p>並訓練信徒，能藉著敬拜的恩賜操練，進而轉化生命並彰顯神榮耀。</p>
            </section>
          </li>
          <br>
          <li>
            <h4>年度目標：「佈道」一領一，「信徒」新倍加。</h4>
            <section>
              <p>「然而人未曾信祂、怎能求祂呢．未曾聽見祂、怎能信祂呢．沒有傳道的、怎能聽見呢？</p>
              <p>若沒有奉差遣、怎能傳道呢？如經上所記：報福音傳喜信的人、他們的腳蹤何等佳美。」(羅10:14-15)</p>
              <p>[目標]</p>
              <p>透過本地多元化和社區適切性的事工與資源，建立有效且有充足裝備的福音隊工，</p>
              <p>在板橋廣傳福音，履行主耶穌所吩咐的大使命！</p>
            </section>
          </li>
        </ul>
      </section>
    </article>
  </div>
</div>


