<div class="container-fluid main-container">
  <%= render 'goal/leftMenu' %>
  <div class="col-md-10 content">
    <article class="panel panel-default">
      <header class="panel-heading">

      </header>
      <section class="panel-body">
        <h4>◎埔墘教會事工目標：</h4>
        <p>為了落實這個使命，透過下列策略來執行：</p>
        <p>分齡牧養、團契、小組的架構、目標導向的原則，</p>
        <p>依此做整體事工及生命建造程序的整合，以期能一步步實踐異象。</p>
        <p>依信徒三種信仰生命屬靈程度(小子、少年人、父老)，</p>
        <p>在事工上予以五大成長向度的牧養(閱教會異象使命)，</p>
        <p>逐步從小子→少年人→父老，不斷成長成熟。</p>
      </section>
    </article>
  </div>
</div>


