<div class="container-fluid main-container">
  <%= render 'goal/leftMenu' %>
  <div class="col-md-10 content">
    <article class="panel panel-default">
      <header class="panel-heading">
        關於我們 - 2015目標
      </header>
      <section class="panel-body">
      	<h4>2015年度目標：關懷」一領一，「愛心」新倍加。</h4>

        <p>「免得身上分門別類，總要肢體彼此相顧。若一個肢體受苦，所有的肢體就一同受苦；</p>
        <p>若一個肢體得榮耀，所有的肢體就一同快樂。」(林前十二25-26)</p>
        <p>[目標]</p>
        <p>加強信徒、團契、小組間的關懷，藉以彼此建立、關懷、勉勵，</p>
        <p>並加強對教會的關懷，以此關愛教會、熱愛靈魂，實踐彼此相愛的誡命。</p>
        <p>[事工]</p>
        <ol>
          <li>每日QＴ事工。</li>
          <li>平信徒牧養行動。</li>
          <li>一對一陪讀課程。</li>
          <li>屬靈家長培訓。</li>
        </ol>
      </section>
    </article>
  </div>
</div>


