<h3><i class="fa fa-plus-circle"></i>埔墘教會事工目標</h3>
<article>
    <p>為了落實這個使命，透過下列策略來執行：</p>
    <p>分齡牧養、團契、小組的架構、目標導向的原則，</p>
    <p>依此做整體事工及生命建造程序的整合</p>
    <p>，以期能一步步實踐異象。</p>

　   <p>依信徒三種信仰生命屬靈程度(小子、少年人、父老)，在事工上予</p>
    <p>以五大成長向度的牧養(閱教會異象使命)，逐步從小子→少年人→父</p>
    <p>老，不斷成長成熟。</p>
<ul>
<li>
  <h4>2014年度目標：「靈修」一領一，「生命」新倍加。</h4>
  <p>「但你所學習的，所確信的，要存在心裡；因為你知道是跟誰學</p>
  <p>的，並且知道你是從小明白聖經，這聖經能使你因信基督耶穌，有</p>
  <p>得救的智慧。聖經都是神所默示的，於教訓、督責、使人歸正、教</p>
  <p>導人學義都是有益的，叫屬神的人得以完全，預備行各樣的善事</p>
  <p>。」(提後三14-17)</p>
  <p>[目標]鼓勵信徒認識聖經和裝備領袖，並每日有固定的靈修生活，使</p>
  <p>屬靈生命得以成長。藉由提高信仰的素質，且著重信心的建立，靈</p>
  <p>命的塑造和生命的見証。</p>
  <p>[事工]</p>
  <p>(1).全教會信徒每日靈修研讀。</p>
  <p>(2).主日ＱＴ小組成立。</p>
  <p>(3).小家關懷事工。</p>
  <p>(4). AWANA兒童事工。</p>
</li>
<li>
<h4>2015年度目標：關懷」一領一，「愛心」新倍加。</h4>
  <p>「免得身上分門別類，總要肢體彼此相顧。若一個肢體受苦，所</p>
  <p>有的肢體就一同受苦；若一個肢體得榮耀，所有的肢體就一同快樂</p>
  <p>。」(林前十二25-26)</p>
  <p>[目標]加強信徒、團契、小組間的關懷，藉以彼此建立、關懷、勉勵</p>
  <p>，並加強對教會的關懷，以此關愛教會、熱愛靈魂，實踐彼此相愛</p>
  <p>的誡命。</p>
  <p>[事工]</p>
  <p>(1).每日QＴ事工。</p>
  <p>(2).平信徒牧養行動。</p>
  <p>(3).一對一陪讀課程。</p>
  <p>(4).屬靈家長培訓。</p>
</li>
<li>
  <h4>年度目標：「禱告」一領一，「見證」新倍加。</h4>
  <p>「我勸你第一要為萬人懇求，禱告，代求，祝謝。」(提前二1)</p>
  <p>[目標]提昇信徒對禱告的認知與實踐，增設重要危急禱告事項的傳遞</p>
  <p>途徑，增加見証分享的機會，以體會禱告之果效。在團契、教會中</p>
  <p>，藉由操練各種不同禱告方式，彼此學習成為代禱守望者。</p>
  </li>
<li>
  <h4>年度目標：「敬拜」一領一，「事奉」新倍加。</h4>
  <p>「來啊，我們要屈身敬拜，在造我們的耶和華面前跪下。 因為衪</p>
  <p>是我們的神；我們是衪草場的羊，是衪手下的民。惟願你們今天聽</p>
  <p>衪的話。」(詩95:6-7)</p>
  <p>[目標]帶領及教導會眾以心靈和真理進入敬拜(含傳統敬拜)，經歷神</p>
  <p>的臨在及作生命的敬拜。並訓練信徒，能藉著敬拜的恩賜操練，進</p>
  <p>而轉化生命並彰顯神榮耀。</p>
</li>
<li>
  <h4>年度目標：「佈道」一領一，「信徒」新倍加。</h4>
  <p>「然而人未曾信祂、怎能求祂呢．未曾聽見祂、怎能信祂呢．沒</p>
  <p>有傳道的、怎能聽見呢？若沒有奉差遣、怎能傳道呢？如經上所記</p>
  <p>：報福音傳喜信的人、他們的腳蹤何等佳美。」(羅10:14-15)</p>
  <p>[目標]透過本地多元化和社區適切性的事工與資源，建立有效且有充</p>
  <p>足裝備的福音隊工，在板橋廣傳福音，履行主耶穌所吩咐的大使命！</p>
</li>
</ul>
</article>