<h3><i class="fa fa-plus-circle">聚會時間</i></h3>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>聚會時間</th>
    <th>聚會地點</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>主日禮拜（台語）</td>
    <td>週日上午９點３０分</td>
    <td>教會２樓禮拜堂</td>
  </tr>
  <tr>
    <td>QT分享小組</td>
    <td>週日主日禮拜結束後</td>
    <td>教會各樓層</td>
  </tr>
  <tr>
    <td><a href="/about/groups/matins">週間禱告會</a></td>
    <td>週五晚上８點</td>
    <td>教會２樓禮拜堂</td>
  </tr>
  <tr>
    <td>週間家庭禮拜</td>
    <td>週三晚上８點（不定期）</td>
    <td>教會各信徒家庭</td>
  </tr>
  <tr>
    <td><a href="/about/groups/awana">AWANA兒童主日學</a></td>
    <td>週日上午９點３０分</td>
    <td>教會５樓AWANA兒童活動中心</td>
  </tr>
  <tr>
    <td><a href="/about/groups/elder">松年團契</a></td>
    <td>周日下午１點(每月第二週)</td>
    <td>教會Ｂ１多功能活動中心</td>
  </tr>
  <tr>
    <td><a href="/about/groups/women">女宣團契</a></td>
    <td>週三晚上８點(每月第三週)</td>
    <td>教會２樓交誼廳</td>
  </tr>
  <tr>
    <td><a href="/about/groups/married">伉儷團契</a></td>
    <td>周日下午１點(每月第四週)</td>
    <td>教會Ｂ１多功能活動中心</td>
  </tr>
  <tr>
    <td><a href="/about/groups/young">社青團契</a></td>
    <td>周日下午１點(每月第二週)</td>
    <td>教會４樓團契活動中心</td>
  </tr>
  <tr>
    <td><a href="/about/groups/workship">敬拜團</a></td>
    <td>周六下午４點(每月第二週)</td>
    <td>教會４樓練團室</td>
  </tr>
  <tr>
    <td><a href="/about/groups/youth">青少年團契</a></td>
    <td>週六晚上６點</td>
    <td>教會４樓團契活動中心</td>
  </tr>
  <tr>
    <td><a href="/about/groups/choir">聖歌隊</a></td>
    <td>週六晚上７點３０分</td>
    <td>教會２樓禮拜堂</td>
  </tr>
  </tbody>
</table>