<div class="col-md-2 sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">教會位置</a></li>
    <li><a href="/about/location">教會位置</a></li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">教會配置圖</a></li>
    <li><a href="/about/location/b1">地下室</a></li>
    <li><a href="/about/location/floor1">一樓</a></li>
    <li><a href="/about/location/floor2">二樓</a></li>
    <li><a href="/about/location/floor4">四樓</a></li>
    <li><a href="/about/location/floor5">五樓</a></li>
  </ul>
</div>
