<div class="container-fluid main-container">
  <%= render 'location/leftMenu' %>
  <div class="col-md-10 content">
    <article class="panel panel-default">
      <header class="panel-heading">

      </header>
      <section class="panel-body">
        
      </section>
    </article>
  </div>
</div>


