<div class="container-fluid main-container">
  <%=render 'location/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>教會位置</h2>
        <img src="/images/floor/location.jpg" style="width:100%" alt="地圖"/>
        <h2>搭車訊息</h2>
        <h3>公車</h3>
        <ol>
          <li>
            <h4>埔墘站下，步行約7-10分鐘。(234、綠265、705)</h4>
          </li>
          <li>
            <h4>自來水廠站下，步行約3分鐘。（紅265)</h4>
          </li>
        </ol>
        <h3>捷運</h3>
        <ol>
          <li style="text-align: left;">
            <h4>新埔站（板南線）3號出口下車步行約15-20分鐘。</h4>
          </li>
          <li style="text-align: left;">
            <h4>新埔站（板南線）2號出口搭橘5，正隆廣場站下，步行約5分鐘。</h4>
          </li>
        </ol>
        <h3>開車</h3>
        <ol>
          <li>
            <h4>從光復橋下（板橋中山路）至三民路左轉直行至186巷右轉。</h4>
          </li>
          <li>
            <h4>從華江橋下，左轉雙十路二段，直行三民路至186巷右轉。</h4>
          </li>
          <li>
            <h4>國道三號中和交流道出口，往最內側中山路方向下交流道，直行至三民路右轉，再至186巷口左轉。</h4>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

