<div class="col-md-2 sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">教會簡史</a></li>
    <li><a href="/about/history">教會簡史</a></li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">同工介紹</a></li>
    <li><a href="/about/members/pastor">牧師及師母</a></li>
    <li><a href="/about/members/secretary">幹事</a></li>
    <li><a href="/about/members/officer">長執同工</a></li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">團契小組</a></li>
    <li><a href="/about/groups/matins">週間禱告會</a></li>
    <li><a href="/about/groups/elder">松年團契</a></li>
    <li><a href="/about/groups/married">伉儷團契</a></li>
    <li><a href="/about/groups/young">社青團契</a></li>
    <li><a href="/about/groups/youth">青少年團契</a></li>
    <li><a href="/about/groups/women">女宣團契</a></li>
    <li><a href="/about/groups/awana">AWANA兒童主日學</a></li>
    <li><a href="/about/groups/choir">聖歌隊</a></li>
    <li><a href="/about/groups/workship">敬拜團</a></li>
  </ul>
</div>
