<div class="col-md-2 sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">教會簡史</a></li>
    <li><a href="/about/history">教會簡史</a></li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">同工介紹</a></li>
    <li><a href="#">牧師及師母</a></li>
    <li><a href="#">幹事</a></li>
    <li><a href="#">長老</a></li>
    <li><a href="#">執事</a></li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">團契小組</a></li>
    <li><a href="#">松年團契</a></li>
    <li><a href="#">伉儷團契</a></li>
    <li><a href="#">婦女團契</a></li>
    <li><a href="#">社青團契</a></li>
    <li><a href="#">青少年團契</a></li>
    <li><a href="#">ＡＷＡＮＡ兒童主日學</a></li>
    <li><a href="#">小組介紹</a></li>
  </ul>
</div>
