<h4>教會配置圖</h4>


<h3>【地下室】（多功能活動中心）</h3>
副堂、愛餐區、兒童遊戲區、卡拉ＯＫ區、角落咖啡區。

<h3>【一樓】</h3>
「幹事辦公事」、「愛心廚房」

<h3>【二樓】</h3>
「禮拜堂」、「交誼廳」、「行政辦公室」

<h3>【四樓】（團契活動中心）</h3>
「團契聚會所」、「個人禱告室」、「練團室」、「會議室」、「檔案室」。

<h3>【五樓】（主日學兒童中心）</h3>
「主日學兒童中心」