<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <h4>埔墘教會  簡史</h4>

        <p>1969年5月22日由李長裕牧師與梁文彬長老召集黃福田、陳定川、曾木卿、陳金樹、池善蒲等七人組成委員會。</p>

        <p>同年6月5日租用埔墘公寓41號為聚會地點，6月8日首次在該地點舉行禮拜，10月5日由台北中會議長主持開設典禮。</p>

        <p>1971年5月16日購得一座新建兩層樓房(中山路二段176巷22號)為禮拜堂，同年6月6日舉行主日禮拜及各項聚會。</p>

        <p>1973年1月7日選出首任長老3名，執事5名，並於2月12日昇格為堂會，4月8日舉行新堂奉獻典禮。</p>

        <p>由於信徒日漸增多，10餘坪之禮拜堂不夠容納，加上市場內買賣聲吵雜，嚴重干擾聚會，乃決議另購新堂，</p>

        <p>於1978年8月14日購得現址(板橋市三民路二段186巷2弄6號二、三、四樓及8號二樓，總坪數155.12坪)，</p>

        <p>同年10月28日啟用新禮拜堂，1980年10月25日舉行設教11週年暨聖殿奉獻典禮。</p>

        <p>全體信徒齊心協力推行聖工數十年，仍懷抱異象展望、不斷成長之心意，在空間已不敷使用與展望異象同時，</p>

        <p>於2014年1月承租本會現址一樓兩處(含地下室)共約120坪空間。</p>

        <p>並隨即積極投入及規劃，以五個多月的時間擴建、逐漸整建現有空間。</p>

        <p>同年6月8日聖靈降臨節，也是教會設教45週年，當天上午主日禮拜，</p>

        <p>眾信徒滿心喜悅以「設教四十五週年感恩禮拜」數算神的恩典，</p>

        <p>並於下午三點卅分舉行「多功能活動中心啟用感恩禮拜」領受上帝加倍豐盛的恩典。</p>
        <br />

        <h4>●.本堂歷任牧者</h4>

        <p>第一任牧者：梁秀德牧師（1969年6月8日-1976年6月28日）</p>

        <p>⊙1973年4月8日舉行首任牧師就任授職暨新堂奉獻感恩禮拜。</p>
        <br />
        <p>第二任牧者：黃思明牧師（1976年7月4日-1989年8月31日）</p>

        <p>⊙1976年8月29日舉行牧師就任授職感恩禮拜。</p>
        <br />
        <p>第三任牧者：江永遠牧師（1990年7月30日-2005年2月13日）</p>

        <p>⊙1990年10月21日舉行牧師就任授職暨設教21週年感恩禮拜。</p>
        <br />
        <p>第四任牧者：沈建議牧師（2006年6月10日-2011年9月30日）</p>

        <p>⊙2006年8月13日舉行封牧暨就任授職感恩禮拜。</p>
        <br />
        <p>第五任牧者：劉世光牧師（2013年1月1日～迄今）</p>

        <p>⊙2013年1月20日舉行牧師就任授職感恩禮拜。</p>
        <br />
      </div>
    </div>
  </div>
</div>


