<html>
<head>
    <title></title>
</head>
<body>
                <ul class="wsite-menu-default">
                    <li id="js-mainmenu" class="wsite-menu-item-wrap active">
                        <a href="/" class="wsite-menu-item">
                            首頁
                        </a>

                    </li>
                    <li  class="wsite-menu-item-wrap">
                        <a href="/mission" data-membership-required="0" class="wsite-menu-item">
                            使命目標
                        </a>

                    </li>
                    <li class="wsite-menu-item-wrap">
                        <a href="/about/members" data-membership-required="0" class="wsite-menu-item">
                            關於我們
                        </a>
                        <div class="wsite-menu-wrap" style="display:none">
                            <ul class="wsite-menu">
                                <li class="wsite-menu-subitem-wrap">
                                    <a href="/about/members" class="wsite-menu-subitem">
                                        <span class="wsite-menu-title">
                                            同工介紹
                                        </span>
                                    </a>

                                </li>
                                <li class="wsite-menu-subitem-wrap">
                                    <a href="/about/groups" class="wsite-menu-subitem">
                                        <span class="wsite-menu-title">
                                            團契小組
                                        </span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="wsite-menu-item-wrap">
                        <a href="/witness" data-membership-required="0" class="wsite-menu-item">
                            見証分享
                        </a>

                    </li>
                    <li class="wsite-menu-item-wrap">
                        <a href="/schedule" data-membership-required="0" class="wsite-menu-item">
                            聚會時間
                        </a>

                    </li>
                    <li class="wsite-menu-item-wrap">
                        <a href="/about/location" data-membership-required="0" class="wsite-menu-item">
                            地圖位置
                        </a>
                        <div class="wsite-menu-wrap" style="display:none">
                            <ul class="wsite-menu">
                                <li class="wsite-menu-subitem-wrap">
                                    <a href="/about/location" class="wsite-menu-subitem">
                                        <span class="wsite-menu-title">
                                            教會位置
                                        </span>
                                    </a>

                                </li>
                                <li class="wsite-menu-subitem-wrap">
                                    <a href="/about/floorplan" class="wsite-menu-subitem">
                                        <span class="wsite-menu-title">
                                            教會配置圖
                                        </span>
                                    </a>

                                </li>
                                <li class="wsite-menu-subitem-wrap">
                                    <a href="/contact" class="wsite-menu-subitem">
                                        <span class="wsite-menu-title">
                                            聯絡我們
                                        </span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <%= yield %>
</body>
</html>