<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <img src="/images/about/members/officer.jpg" alt="埔墘長老教會" class="content-img" />
        <h3>長執同工</h3>
        <p>埔墘教會長執同工</p>
      </div>
    </div>
  </div>
</div>


