<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <p>主任牧師：劉世光</p>
        <p>1995年 台南神學院神學研究所畢業</p>
        <p>2008年 衛理神學院牧範學博士(D.Min)</p>

        <p>牧師娘：張珍婷</p>
        <p>1993年 中原大學工業工程系畢業</p>
        <p>2014年 台灣恩惠國際神學院畢業</p>
      </div>
    </div>
  </div>
</div>


