<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <img src="/images/about/members/pastor.jpg" alt="埔墘長老教會" class="content-img" />
        <br><br>
        <h4><font color="#65a9dd">主任牧師：劉世光</font></h4>
        <p><font color="#000000">台南神學院宗教哲學系畢業</font></p>
        <p><font color="#000000">台南神學院神學研究所畢業</font></p>
        <p><font color="#000000">衛理神學院牧範學博士(D.Min)</font></p>
        <br>

        <h4><font color="#65a9dd">牧師娘：張珍婷</font></h4>
        <p><font color="#000000">中原大學工業工程系畢業</font></p>
        <p><font color="#000000">台灣恩惠國際神學院畢業</font></p>
      </div>
    </div>
  </div>
</div>


