<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <img src="/images/about/members/secretary.jpg" alt="埔墘長老教會" class="content-img" />
        <p>青年幹事：周蓓蕾傳道(Leima)</p>
        <p>2013年 巴拿巴宣教學院畢業</p>
        <p>(擔任青少團契及大學生輔導)</p>
      </div>
    </div>
  </div>
</div>


