<div class="container-fluid main-container">
  <%=render 'about/leftMenu' %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <img src="/images/about/members/secretary.jpg" alt="埔墘長老教會" class="content-img" />
        <br><br>

        <h4><font color="#65a9dd">青年幹事：周蓓蕾傳道(Leima)</font></h4>
        <p><font color="#000000">巴拿巴宣教學院畢業</font></p>
        <p><font color="#000000">(擔任青少團契及大學生輔導)</font></p>
      </div>
    </div>
  </div>
</div>


